!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Store
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #page
      #global-popup
        Hey, we have
        %b Free global shipping
        For all orders!
      -# Header
      %header
        / Pagination
        / Adding to cart and storing as a cookie
        / Login
        / Additional:
        / Checkout page
        / Reviews
        =image_tag 'logo.png', id: :logo
        %nav
          %ul
            = render 'partials/navigation'
            %div#shopping
              %li#cart-before 0 pts.
              %li Checkout >
      -# Main page content
      = yield
      -# Footer
      %footer
        #footer-nav
          %ul
            = render 'partials/navigation'
            %br
            %li Shipping & Returns
            %li Terms of Service
          #store-info
            =image_tag 'logo.png', id: :logo
            %br
            This store sells goods for customers. Note that we have free world-wide delivery, and we are the best!
            %br
            %br
            %span.uppercase Contact information:
            %br
            This is a good place to insert contact info
