!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Store
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #page
      #global-popup
        Hey, we have
        %b Free global shipping
        For all orders!
      %header
        =image_tag 'logo.png', id: :logo
        %nav
          %ul
            %li
              %a{href: root_url} Home
            %li
              %a{href: shop_url} Shop
            %li
              %a{href: technology_url} Technology
            %li Reviews
            %li My account
            %div#shopping
              -# =image_tag 'cart.svg', id: :cart
              %li#cart-before 0 pts.
              %li Checkout >
      = yield
      %footer
        %p Here goes footer
